<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Accueil</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}"><script
  src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><body>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Python AI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/game">Nouvelle partie</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="alert alert-danger" role="alert" id="error">
		<span></span>
	</div>
	<div class="row">
		<div class="col">
			<div class="controller player-one">
			<h3>Joueur 2, c'est à votre tour</h3>
				<div>
					<button type="button" class="btn btn-primary" onclick="move('UP', 1)">Haut</button>
				</div>
				<div>
					<button type="button" class="btn btn-primary" onclick="move('LEFT', 1)">Gauche</button>
					<button type="button" class="btn btn-primary" onclick="move('RIGHT', 1)">Droite</button>
				</div>
				<div>
					<button type="button" class="btn btn-primary" onclick="move('DOWN', 1)">Bas</button>
				</div>
			</div>
		</div>
		<div class="col" style="display: flex; justify-content: center;">
			<table id="game-grid">
				<tr><td style="text-align: center;">Initialisation de la partie en cours</td></tr>
			</table>
		</div>
		<div class="col">
			<div class="controller player-two">
			<h3>Joueur 2, c'est à votre tour</h3>
				<div>
					<button type="button" class="btn btn-primary" onclick="move('UP', -1)">Haut</button>
				</div>
				<div>
					<button type="button" class="btn btn-primary" onclick="move('LEFT', -1)">Gauche</button>
					<button type="button" class="btn btn-primary" onclick="move('RIGHT', -1)">Droite</button>
				</div>
				<div>
					<button type="button" class="btn btn-primary" onclick="move('DOWN', -1)">Bas</button>
				</div>
			</div>
		</div>
  </div>
</div>

<script>
	errorMessages = new Map([
        ['MOVE_USER_NOT_ACTIVE', 'Ce n\'est pas à votre tour de jouer'],
		['MOVE_OUT_OF_GRID', 'Ce déplacement n\'est pas autorisé'],
		['MOVE_CELL_BELONGS_TO_OPPONENT', 'La case cible appartient à votre adversaire']
    ]);
	
	function hideError() {
		$( "#error" ).hide();
	}
	function handleError(error) {
		console.log(error);
		if (error.status === 400) {
			$( "#error" ).show();
			$( "#error span" ).text(errorMessages.get(error.responseText));		
		} else {
			// redirect to 500 page
		}
	}


	function move(direction, player) {
		hideError();
		$.ajax({
            url: "{{ url_for('move') }}",
            type: 'GET',
            dataType: 'json',
			data: { direction: direction, player: player },
            success: function(response) {
              refreshState(response);
            },
            error: function(error) {
				handleError(error);
			}
        });
	}
	
	function refreshState(new_game) {
		game = new_game;
		var tableau = $('#game-grid');
                tableau.empty(); // Vider le tableau existant
                new_game.state.forEach(function(ligne) {
                    var rowHTML = '<tr>';
                    ligne.forEach(function(value) {
						rowHTML += '<td class="' + (value > 0 ? 'player-one' : (value < 0) ? 'player-two' : '')  + '"><div style="width: 50px; height: 50px;" class="' + ((value == 2 || value == -2) ? 'player' : '')  + '"></div></td>';
                    });
                    rowHTML += '</tr>';
					console.log(rowHTML);
                    tableau.append(rowHTML);
                });
		if (game.activePlayer == 1) {
			$( ".controller.player-one" ).show();
			$( ".controller.player-two" ).hide();
		} else {
			$( ".controller.player-one" ).hide();
			$( ".controller.player-two" ).show();
		}
	}
	
	$( document ).ready(function() {
	hideError();
    $.ajax({
            url: "{{ url_for('loadGame') }}",
            type: 'GET',
            dataType: 'json',
            success: function(response) {
              refreshState(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
});


    $('#haut').click(function() {
	console.log('test');
    });
	
	$( "body" ).on( "keydown", function(e) {
		console.log( "Handler for `keypress` called." );
		let direction = undefined;
		switch(e.which) {
			case 38:
				direction = 'UP';
				break;
			case 40:
				direction = 'DOWN';
				break;
			case 37:
				direction = 'LEFT';
				break;
			case 39:
				direction = 'RIGHT';
				break;
		}
		if (direction) {
			move(direction, game.activePlayer);
		}
		
	} );
    </script>


</body>
</html>